@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
$primary: #3498db;

:root {
  --color-black: hsl(0, 0%, 10%);
  --color-darks: hsl(0, 0%, 25%);
  --color-greys: hsl(0, 0%, 60%);
  --color-light: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);

  --color-blue-100: hsl(217, 91%, 65%);
  --color-blue-200: hsl(221, 83%, 55%);
  --color-blue-300: hsl(224, 76%, 45%);

  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  .dynamicProfile {
    // margin-top: ;
    width: 4rem;
    height: 4rem;
  }
  font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-transform: unset;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

// Elements
.section {
  margin: 0 auto;
  padding: 5rem 0 2rem;
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  padding: 0 1.4rem;

  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--color-blue-200);
  > img {
    height: 2rem;
  }
}

// Header
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
  transition: all 0.5s ease-in-out;
  .topOpt {
    display: flex;
    flex-direction: row;
    > li {
      margin-right: 1rem;
      position: fixed;
    }
  }
  &.is-active {
    top: 0;
    left: 0;
    .menu-inner {
      padding-top: 3rem;
      > li {
        border-bottom: 1px solid #a8a8a8;
        padding-bottom: 10px;
      }
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin: 1.25rem;
  }

  &-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-black);
    transition: all 0.3s ease;
    > p {
      .icon {
        height: 1.4rem;
        width: 1.5rem;
      }
    }
    &:hover {
      color: $primary;
    }
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .dynamicProfile {
    left: 2rem;
  }
  // Media Query Breakpoint
  @media only screen and (min-width: 48rem) {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    background: none;
    box-shadow: none;

    &-inner {
      display: flex;
      flex-direction: row;
      column-gap: 1.75rem;
      margin: 0 auto;
      margin-right: 3rem;
    }

    &-link {
      text-transform: capitalize;
    }

    &-block {
      margin-left: 2rem;
    }
  }
}

// Burger
.burger {
  position: relative;
  display: block;
  cursor: pointer;
  order: -1;
  width: 1.6rem;
  height: auto;
  border: none;
  outline: none;
  visibility: visible;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.1);
  }
  &-line {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 2.5px;
    margin: 6px auto;
    transform: rotate(0deg);
    border-radius: 1rem;
    background: var(--color-black);
  }

  // Media Query Breakpoint
  @media only screen and (min-width: 48rem) {
    display: none;
    visibility: hidden;
  }
}

// Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;

  &.is-active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.crossBtn {
  position: absolute;
  > svg {
    height: 1.3rem;
    width: 1.3rem;
  }
  top: 1rem;
  right: 1rem;
}
.overBtn {
  position: absolute;
  display: flex;
  bottom: 3rem;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  > li > button {
    background-color: $primary;
    color: white;
    border: none;
    padding: 1rem;
    width: 8rem;
    font: 300 1rem "Roboto";

    border-radius: 5px;
  }
}
// Search Bar
.search {
  &-toggle,
  &-cancel {
    > svg {
      color: white;
    }
    display: block;
    cursor: pointer;
    font-size: 1.45rem;
    line-height: inherit;
    color: var(--color-black);
    background-color: $primary;
    padding: 0 1rem;
    padding-top: 5px;
    border-radius: 2rem;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
    }
  }
  &-cancel {
    padding: 0 0.5rem;
    padding-top: 5px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    > svg {
      color: black;
    }
  }

  &-block {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65%;
    height: 4rem;
    z-index: 10;
    overflow: hidden;
    background-color: var(--color-white);
    transition: all 0.35s ease-in-out;

    &.is-active {
      top: 0;
      right: 0;
    }

    // @media only screen and (min-width:
  }

  @media only screen and (max-width: 48rem) {
    &-block {
      width: 100%;
    }
  }

  &-form {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 0.75rem 1rem;
  }

  &-input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: auto;
    padding: 0.65rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: var(--color-black);
    background-color: var(--color-light);

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
      display: none;
      visibility: hidden;
    }
  }
}
.subNav {
  display: flex;
  justify-content: end;
  background-color: black;
  height: 2.1rem;
  align-items: center;
  > li {
    padding: 0 1.5rem;
    > a {
      font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
    }
    transition: all 0.4s;
    // &:hover {
    //   background-color: white;
    // }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      position: relative;
      transition: color 0.3s ease;
    }

    a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    a:hover::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
.subNavTitle {
  color: white;
  transition: all 0.4s;
}
.logOption {
  color: #000000;
}
@media only screen and (max-width: 48rem) {
  .subNav {
    justify-content: space-around;
    > li {
      padding: 0;
    }
  }
}
.cart-icon {
  position: relative;
  display: inline-block; /* Make it inline so the badge stays inside */
}

.cart-count {
  position: absolute;
  top: -0.2rem;
  right: 0;
  background-color: #3498db;
  color: white;
  border-radius: 25%;
  padding: 0.1rem;
  font-size: 0.5rem;
}
