.ProductDetailsPage {
  // margin: 0;
  margin-top: 4rem;
  // padding: 0;
  .ProductDetails {
    background-color: rgb(233, 231, 231);
    background: linear-gradient(to bottom, rgb(230, 230, 230), #ffffff);
    // height: 100vh;

    max-width: 100%;
    // padding: 6vmax;
    box-sizing: border-box;
    display: flex;
    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 2vmax;
      box-sizing: border-box;
      border: 1px solid white;
    }
    .carouselBox {
      .CarouselImage {
        width: 70%;

        object-fit: contain;
        padding: 1rem;
      }
    }
    > div:last-child {
      align-items: flex-start;
    }

    .detailsBlocks-1 {
      > h2 {
        width: 20vmax;
        font: 600 2vmax "Roboto";
      }
      > p {
        color: rgba(54, 54, 54, 0.5);
        font: 0.9rem "Roboto";
        margin: 3px 0;
      }
    }
    .detailsBlocks-2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      width: 70%;
      padding: 0.5vmax 0;
      > span {
        color: rgba(54, 54, 54, 0.5);
        font: 600 1.6vmax "Roboto";
      }
    }
    .detailsBlocks-3 {
      width: 70%;
      > h1 {
        color: green;
        font-size: 2vmax;
        font-weight: 500;
      }
      > p {
        color: rgba(54, 54, 54, 0.5);
        font: 0.9rem "Roboto";
        margin-bottom: 1rem;
      }
      .detailsBlocks-3-1 {
        display: flex;
        align-items: center;
        .detailsBlocks-3-1-1 {
          > button {
            border: none;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 0.5vmax;
            cursor: pointer;
            color: white;
            transition: all 0.5s;
            &:hover {
              background-color: rgba(0, 0, 0, 0.8);
            }
          }
          > input {
            border: none;
            padding: 0.5vmax;
            width: 3vmax;
            text-align: center;
            outline: none;
            font: 400 0.8vmax "Roboto";
            color: rgba(0, 0, 0, 0.7);
          }
          > button:last-child {
            border: none;
            cursor: pointer;
            color: white;
            transition: all 0.7s;
            background-color: tomato;
            font: 500 1vmax "Roboto";
            border-radius: 20px;
            padding: 0.8vmax 2vmax;
            margin: 1vmax 3vmax;
            outline: none;
            &:hover {
              background-color: rgb(214, 84, 61);
              transform: scale(1.1);
            }
          }
        }
        > p {
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          padding: 1vmax 0;
          color: rgba(0, 0, 0, 0.6);
          font: 400 1vmax "Roboto";
        }
      }
    }
    .detailsBlocks-4 {
      padding: 1rem 0;
      color: rgba(0, 0, 0, 0.8);
      font: 500 1.2vmax "Roboto";
      > p {
        color: rgba(0, 0, 0, 0.8);

        font: 300 1vmax "Roboto";
      }
    }
    .submitReview {
      border: none;
      background-color: #3498db;
      font: 500 0.7vmax "Roboto";
      border-radius: 20px;
      padding: 0.7vmax 1.7vmax;
      margin: 1vmax 0;
      color: white;
      cursor: pointer;
      transition: all 0.5s;
      outline: none;
      &:hover {
        background-color: #2979ae;
        transform: scale(1.1);
      }
    }
  }
  // review card
  .reviews {
    display: flex;
    // flex-wrap: wrap;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.01px; // This effectively hides the scrollbar
    }
  }
  .reviewHeading {
    color: #000000be;
    font: 500 1.4vmax "Roboto";
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
  }
  .reviewCard {
    flex: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(54, 54, 54, 0.1);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
    > img {
      width: 5vmax;
    }
    > p {
      padding: 0.5vmax;

      color: rgba(0, 0, 0, 0.836);
      font: 600 0.9vmax "Roboto";
    }
    > span {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .noReviews {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
  // reviewCart media query

  @media screen and (max-width: 600px) {
    .reviewCard {
      > span {
        font-size: 0.5rem;
      }
      > p {
        font: 600 2vmax "Roboto";
      }
    }
  }

  // productDetails media query
  @media screen and (max-width: 600px) {
    .ProductDetails {
      .carouselBox {
        padding: 0;

        .CarouselImage {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }

      flex-direction: column;
      height: unset;
      padding: 0;
      > div:last-child {
        align-items: center;
      }
      .detailsBlocks-1 {
        > h2 {
          width: 100%;
          font-size: 3vmax;
          text-align: center;
        }
        > p {
          font-size: 2vmax;
          text-align: center;
        }
      }
      .detailsBlocks-2 {
        justify-content: center;
        width: 100%;
        margin: 1rem 0;
        > span {
          font-size: 1.5vmax;
          padding: 0 0.3rem;
        }
      }
      .detailsBlocks-3 {
        width: 90%;
        > h1 {
          font: 700 3vmax "Franklin Gothic Medium";
        }
        .detailsBlocks-3-1 {
          flex-direction: column;
          .detailsBlocks-3-1-1 {
            width: 100%;
            > button {
              padding: 1.7vmax;
              width: 3vmax;
            }
            > input {
              padding: 1.5vmax 0;
              width: 4vmax;
              font: 400 1.8vmax "Roboto";
            }
            > button:last-child {
              font: 500 2vmax "Roboto";
              padding: 2vmax;
              width: 20vmax;
              margin: 3vmax;
            }
          }
          > p {
            padding: 1vmax 3vmax;
            text-align: center;
            font: 400 2vmax "Roboto";
          }
        }
      }
      .detailsBlocks-4 {
        font: 500 2.5vmax "Roboto";
        > p {
          font: 200 2vmax "Roboto";
        }
      }
      .submitReview {
        font: 500 1.7vmax "Roboto";
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
      }
    }
  }
}
