$primary: #3498db;

.forgotPasswordUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(230, 230, 230), #ffffff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.forgotPasswordUpBox {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 25vw;
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
}

.forgotPasswordHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.667);
  font: 400 1.7vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.206);
  width: 70%;
  margin: auto;
}
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 80%;
  transition: all 0.5s;
  > div {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0.5rem 0;
    > input {
      padding: 1vmax 4vmax;
      padding-right: 1vmax;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      font: 300 0.9vmax cursive;
      outline: none;
    }
    > svg {
      position: absolute;
      transform: translateX(1vmax);
      font-size: 1.6vmax;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.forgotPasswordUpBtn {
  border: none;
  background-color: $primary;
  color: white;
  font: 300 1.5vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #2876a9;
  }
}

@media screen and (max-width: 48rem) {
  .forgotPasswordUpContainer {
    background: white;
    margin-top: 4rem;
  }
  .forgotPasswordUpBox {
    box-shadow: none;
    width: 100vh;
    height: 95vh;
  }

  .forgotPasswordForm {
    padding: 5vmax;
    height: 55%;
    > div {
      > input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax "Roboto";
      }
      > svg {
        font-size: 2.8vmax;
      }
    }
  }
}
